h1{
    text-align: left;
          
   }
   
   .bungee-regular {
       font-family: "Bungee", sans-serif;
       font-weight: 400;
       font-style: normal;
   }
body{
    margin-left:20%;
    margin-top:5%;
}
form{
    padding:5%;
}
